#top_browser_pie_chart {
  width: 100%;
  height: 500px;
}

#chartdiv {
  width: 100%;
  height: 400px;
}

#chartdiv3 {
  width: 100%;
  height: 500px;
}

.users_total_title {
  text-transform: capitalize;
}
